/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-image: url("../img/img2.jpg");
  background-color: #7181a6; /* Azul claro para transmitir calma */
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px 0;
  background: rgb(43,72,139);
  background: linear-gradient(90deg, rgba(43,72,139,1) 0%, rgba(51,93,191,1) 50%, rgba(43,72,139,1) 100%);
  color: #fff;
  font-size: 2.5rem; /* Tamanho da fonte */
  text-transform: uppercase; /* Texto em caixa alta */
  letter-spacing: 2px; /* Espaçamento entre letras */
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #0056b3; /* Azul mais escuro para os botões */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #004080; /* Tom mais escuro no hover */
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff; /* Fundo branco */
  color: #333; /* Cor do texto */
}

/* Estilize a seta do select - use uma imagem ou um ícone personalizado, se desejar */
select::-ms-expand {
  display: none; /* Remove a seta padrão do Internet Explorer */
}

/* Estilize a seta do select para navegadores modernos */
select::after {
  content: "\25BC"; /* Unicode para uma seta para baixo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Evita que a seta seja clicável */
  color: #666; /* Cor da seta */
}

/* Estilize o hover da seta */
select:hover::after {
  color: #444; /* Cor da seta no hover */
}

#resultado {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

#resultado h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #007bff;
}

#resultado p {
  margin: 0;
}

/* Estilo para a div de descritivos */
#descricaoInvestimento {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

#descricaoInvestimento h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #007bff;
}

#descricaoInvestimento p {
  margin: 0;
}

/* Responsividade */
@media (max-width: 600px) {
  form,
  #resultado {
    max-width: 100%;
    padding: 10px;
  }

  input[type="number"],
  button[type="submit"] {
    padding: 8px;
  }

  select {
    padding: 8px;
  }

  select::after {
    right: 8px;
  }

  select:hover::after {
    color: #333; /* Cor da seta no hover para dispositivos móveis */
  }
}
